* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFEBEB;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.item {
    border: 1px solid #000;
    width: 300px;
    margin: 10px;
}

.item_header {
    font-size: 25px;
    text-align: center;
    padding: 10px;
    background-color: #EBF1FF;
}

.item_content img {
    display: block;
}

.item_footer_button {
    display: block;
    text-align: center;
    font-size: 25px;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 5px;
    margin: 10px auto;
}

.item_footer_button:hover {
    cursor: pointer;
}