* {
    margin: 0;
    padding: 0;
}

.product {
    width: 200px;
    height: 200px;
    background-color: #37896E;
    margin: 10px auto;
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding: 20px 0;
}

#form_wrap {
    width: 200px;
    height: 70px;
    margin: 0 auto;
    padding: 5px;
    background-color: #376089;
}

#email_id {
    display: block;
    width: 80%;
    padding: 5px;
    margin: 5px auto;
    border-radius: 4px;
}

#send_btn_id {
    display: block;
    width: 50%;
    padding: 5px;
    margin: 5px auto;
    border-radius: 4px;
}

#vote_btn_wrap {
    width: 200px;
    height: 70px;
    margin: 5px auto;
    padding: 5px;
    background-color: #7D3789;
}

#vote_btn_id {
    display: block;
    width: 50%;
    height: 50%;
    margin: 18px auto;
    border-radius: 4px;
}

#send_again_btn_wrap {
    width: 200px;
    height: 80px;
    margin: 5px auto;
    padding: 5px;
    background-color: #CE4B4D;
}

#send_again_btn_id {
    display: block;
    width: 50%;
    height: 50%;
    margin: 18px auto;
    border-radius: 4px;
}